<!DOCTYPE html>
<html lang="zh-Hans" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title><%- title %></title>
  <meta property=”og:title” content="<%- title %>">
  <meta name="description" property="og:description" content="<%- description %>">
  <meta name="theme-color" content="#424242">
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
</body>

</html>