.app {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  main {
    flex: auto;
    &::after {
      display: block;
      width: 100%;
      height: 1px;
      content: "";
    }
  }
  aside {
    padding-top: 16rem;
    padding-right: 16rem;
    @media screen and (max-width: 992px) {
      display: none;
    }
    @media print {
      display: none;
    }
  }
}

.images {
  margin-top: 40rem;
}

.full-stack-designer {
  width: 640px;
  max-width: 80%;
  img {
    width: 100%;
  }
}
